:root {
  --gray-color: #e3e2e1;
  --black-color: #161618;
  --white-color: #ffffff;
  --cyan-color: #10bab9;
  --purple-color: #482555;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
a:link {
  text-decoration: none;
  color: var(--black-color);
}
